.app {
  text-align: center;
  background-color: aqua;
}

.todo-list {
  list-style: none;
  }

.todo-list li {
  display: flex;
  align-items: center;
}

.todo-list .done {
  text-decoration: line-through;
  color: #888;
}

button {
  color: #fff;
  cursor: pointer;
}

.addbutton {
  background-color: black;
  margin-left:  50px;
}