body, html {
  margin: 0;
  padding: 0;
}
.app {
  text-align: center;
  background-color: aqua;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; 
  width: 100vh;
}

.todo-list {
  list-style: none;
  }

.todo-list li {
  display: flex;
  align-items: center;
}

.toDoList li.done span {
  text-decoration: line-through; /* Add line-through for items with the "done" class */
}

button {
  color: #fff;
  cursor: pointer;
}

.addbutton {
  background-color: black;
  margin-left:  50px;
}